/**vux框架样式重写**/
.weui-loading_toast .weui-toast {
  width:4rem;
  height:4rem;
  margin-left: -2.2rem;
  top: 50%;
  margin-top: -2.2rem;
}
.weui-toast_text {
  width:auto !important;
}
.weui-icon_toast.weui-loading {
  margin-top: 1rem !important;
}
.vux-loading-no-text .weui-toast{
  min-height: auto !important;
}
.weui-toast.weui-toast_text{
  padding:.2rem .5rem
}
.weui-toast{
  background:rgba(0, 0, 0, .9);
  margin-top: -1.5rem;
}
.weui-icon_toast.weui-icon-success-no-circle:before{
  font-size: 48px !important;
}
.weui-toast_forbidden .weui-icon_toast.weui-icon-success-no-circle:before {
  color:#fff !important
}
.weui-toast.weui-toast_forbidden{
  color: #fff !important
}
.weui-toast__content{
  margin-top: 6px
}
.vux-prompt-msgbox {
  padding: 8px 5px;
  margin-top: .6rem
}
.vux-datetime {
  text-decoration: none;
  color: #333 !important
}
.popup-fixed {
  overflow: hidden;
  max-height: 12.2rem
}
.popup-fixed .vux-popup-header{
  height: 2.2rem;
  line-height: 2.2rem;
}
.popup-fixed .popup-content {
  max-height: 10rem;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
  width:2rem !important;
.weui-icon_toast.weui-loading {
  height:2rem !important
}
.vux-slider > .vux-swiper > .vux-swiper-item > a > .vux-swiper-desc {
  padding-bottom:28px !important;
  font-size:14px !important;
}
.vux-slider > .vux-indicator > a > .vux-icon-dot.active, .vux-slider .vux-indicator-right > a > .vux-icon-dot.active {
  background: #444 !important
}
.swiper-pagination-bullet-active {
  background: #444 !important
}
/**设置滚动条样式**/
.bscroll-vertical-scrollbar {
  width: 4px !important
}
